@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  box-shadow: 1px 1px 10px -3px;
  width: 460px;
  font-family: 'Inter', sans-serif;
}
.cover {
  height: 280px;
  width: 182px;
}
.content {
  width: 270px;
  position: relative;
}
.case {
  margin-left: 20px;
}
.case__title {
  font-size: 20px;
  margin: 5px 0 5px;
  max-width: 80%;
  line-height: 1.4;
}
.case__date {
  font-size: 12px;
  color: #827e7e;
  margin: 7px 0;
}
.case__genre {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  display: inline-block;
  margin: 5px 7px 10px 0;
  padding: 2px 4px;
  font-size: 12px;
}
.case__info {
  font-size: 12px;
}
.stars {
  font-size: 18px;
  margin-left: 17px;
  position: absolute;
  bottom: 10px;
}
.userscore {
  position: absolute;
  top: 10px;
  right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
