body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  font-family: Inter, sans-serif;
}

.main {
  width: 950px;
  background: #ffffff;
  padding: 30px;
}

.tab-nav {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  gap: 15px;
  justify-content: center;
}
